@font-face {
	font-family: "Open Sans";
	src: url(../Font/OpenSans-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans";
	src: url(../Font/OpenSans-Regular.ttf);
	font-weight: normal;
}

body {
	font-family: "Open Sans";
	font-size: 13px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input::-webkit-input-placeholder {
	opacity: 0.541;
	font-size: 13px;
	line-height: 40px;
	color: #000000;
	font-weight: 400;
	font-family: "Open Sans";
}

input:-moz-placeholder {
	opacity: 0.541;
	font-size: 13px;
	line-height: 40px;
	color: #000000;
	font-weight: 400;
	font-family: "Open Sans";
}

input:-ms-input-placeholder {
	opacity: 0.541;
	font-size: 13px;
	line-height: 40px;
	color: #000000;
	font-weight: 400;
	font-family: "Open Sans";
}

p {
	padding: 0;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
}

time {
	font-size: 12px;
	color: #888888;
}

h2 {
	margin-top: 10px;
	margin-bottom: 34px;
	line-height: 1;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

button {
	cursor: pointer;
}

/*---------Заголовок----------------------*/
.header {
	position: relative;
	margin: 0;
	background-image: url(../Image/jpg/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: rgba(0, 0, 0, 0.6);
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.6;
}

.header_container {
	padding-top: 27px;
	text-align: center;
	padding-bottom: 146px;
}

.header_content {
	position: relative;
	display: flex;
	font-weight: wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.nav-menu {
	width: 460px;
}

.menu_list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	/* background-color: yellow; */
}

.menu_list_item:nth-child(n+2) {
	margin-left: 30px;
}

.menu_link:link,
.menu_link:visited {
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
}

.menu_link:hover,
.menu_link:focus {
	color: rgb(210, 135, 6);
}

.title {
	position: relative;
	width: 687px;
	margin: 113px auto 0 auto;
	font-size: 45px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	z-index: 1;
	text-align: center;
}

/*-----------Main-------------*/

/*------------------Content------------*/
.main {
	display: flex;
	flex-wrap: wrap;
}

.main-content {
	width: 777px;
	margin-right: 130px;
	display: flex;
	flex-wrap: wrap;
}

.content-item {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 60px;
}

.content-img {
	display: block;
	width: 380px;
	height: 297px;
}

.content {
	width: 370px;
	margin-left: 27px;
	vertical-align: top;
}

.content-link {
	display: inline-block;
	text-decoration: none;

	font-size: 14px;
	text-transform: uppercase;
	color: #b59f5b;
	font-weight: 700;
}

.content-link:nth-child(n+2) {
	margin-left: 15px;
}

.content-link2 {
	text-decoration: none;
	color: #0f0d0e;
}

.content-link3 {
	display: inline-block;
	margin-left: 20px;
	font-size: 12px;
	color: #000000;
	font-weight: 700;
}



.content-text {
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
}

/*--------------Main Menu-------------------*/

.menu {
	width: calc(1415px - 1142px);
	margin-top: 60px;
	text-align: center;
}

.posts_title::after {
	content: '';
	display: block;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.400;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.post {
	display: flex;
	margin-top: 20px;
}

.post-title {
	margin-left: 16px;
	text-align: left;
}

.post-card-date {
	line-height: 1;
	display: block;
	margin-bottom: 5px;
}

.post-link {
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
}

/*--------------------------------*/

.search {
	box-sizing: border-box;
	margin-top: 60px;
	display: flex;
	flex-wrap: ;
}

.search input,
.search button {
	box-sizing: border-box;
	border: 0;
	outline: 0;
}

.search input {
	box-sizing: border-box;
	width: 222px;
	height: 48px;
	background-color: #f4f7f6;
	opacity: 0.45;
	color: #000;
	font-family: inherit;
	font-size: 13px;
	padding: 8px 12px;
}

.search button {
	width: 48px;
	height: 48px;
	background-image: url(../Image/svg/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px;
	background-color: #b59f5b;
}

.search button:hover {
	background-size: 22px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*-----------------------------*/
.email {
	margin-top: 60px;
}

.email-title::after {
	content: '';
	display: block;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.400;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.email-link {
	margin-top: 22px;
}

.email input,
.email button {
	box-sizing: border-box;
	display: block;
	border: 0;
	outline: 0;
	width: 270px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.email input {
	background: #f4f7f6;
	margin-bottom: 16px;
	padding: 20px;
}

.email button {
	background: #b59f5b;
	color: white;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
	line-height: 40px;
}

.email button:hover {
	font-size: 18px;
}

/*-----------------------*/
.tags {
	margin-top: 60px;
}

.tags h3::after {
	content: '';
	display: block;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.400;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.tags a:link,
.tags a:visited {
	color: #000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tags ul {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.tags li {
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 10px 15px;
	background-color: rgba(244, 243, 241, 0);
	border: 3px solid #eee;

	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #0f0d0e;
}

.themes {
	margin-top: 60px;
}

.themes h3::after {
	content: '';
	display: block;
	margin-top: 13px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.400;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
}

.themes a {
	color: #0f0d0e;
}

.themes li {
	position: relative;

	margin-top: 13px;
	padding-bottom: 13px;

	font-size: 14px;
	font-weight: 700;
	text-align: left;
	border-bottom: 1px solid #eee;
}

.themes span {
	position: absolute;
	top: -5px;

	margin-left: 5px;
	font-size: 12px;
	color: #b59f5b;
	font-weight: 700;
}

/*-----------------------------------------*/
footer {
	padding-bottom: 400px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 54px;
	background-color: #f4f7f6;
	padding: 32px 0;
}

.social a:nth-child(n+2) {
	margin-left: 30px;
}

.footer-text {
	padding-bottom: 40px;
	margin-top: 75px;
}

footer p {
	margin: 0;
	text-align: center;
	font-size: 12px;
	color: #999999;
	font-weight: 700;
}